{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stuff/stuff.css' %}">
</head>
<div class="CONTAINER">
    <div class="StuffCont">
        <div class="staffManagement">
            <a>Sort By</a>
            <a href="{% url 'addDoctor'%}">Add Doctor</a>
            <a href="#">Remove Doctor</a>
        </div>

        <div class="staffTableCont">
            <table class="staffTable">
            {% for person in allData%}
            <tr>
                <td><img src="{% static 'stuff/images/PFP.png' %}"></td>
                <td>{{person.name}}</td>
                <td>{{person.surname}}</td>
                <td>{{person.email}}</td>
            </tr>
            {% endfor%}
        </table>
        {% endblock %}
        </div>
</div>
</div>