{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stuff/stuff.css' %}">
</head>
    <div class="CONTAINER">
        <div class="StuffCont">

            <div class="UserCont">
                <img src="{% static 'stuff/images/PFP.png' %}">
                {% for us in user%}
                    <h3>{{us.name}}</h3>
                    <h3>{{us.surname}}</h3>
                {% endfor %}
<!--                Вище вставляється ім'я та прізвище авторизованого користувача-->
            </div>

            <div class="UserCont">
                <img src="{% static 'stuff/images/PFP.png' %}">
                {% for us in user%}
                    <h3>{{us.name}}</h3>
                    <h3>{{us.surname}}</h3>
                {% endfor %}
            </div>

            <div class="UserCont">
                <img src="{% static 'stuff/images/PFP.png' %}">
                {% for us in user%}
                    <h3>{{us.name}}</h3>
                    <h3>{{us.surname}}</h3>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}