<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <link rel="stylesheet" type="text/css" href="{% static 'login-styles/style.css' %}">#}
    <title>Login</title>
</head>

<body>
<div style=" width: 500px; height: auto;">
    <div class="row" >
        <div>
            <label for="name">Name</label>
            <input class="form-control" type="name" name="name" id="name">
        </div>
    </div>
    <div class="row">
        <div>
            <label for="password">Password</label>
            <input class="form-control" type="surname" name="surname" id="surname">
        </div>
    </div>
    <div class="row" >
        <div>
            <label for="name">Email</label>
            <input class="form-control" type="username" name="email" id="email">
        </div>
    </div>
    <div class="row">
        <div>
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password">
        </div>
    </div>
    <div class="row">
        <div>
            <label for="password">Password</label>
            <input class="form-control" type="date" name="dateOfBirth" id="password">
        </div>
    </div>
    <div class="row">
        <div>
            <label for="password">phone</label>
            <input class="form-control" type="tel" name="phone" id="phone">
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-login btn-primary">Login</button>
        </div>
    </div>
</div>



</body>
</html>