{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'staff/staff.css' %}">
    <title>Staff</title>
</head>
<div class="CONTAINER">
    <div class="StuffCont">
        <div class="staffManagement">
            <a>Sort By</a>
            <a href="{% url 'addDoctor'%}">Add Doctor</a>
            <a href="#">Remove Doctor</a>
        </div>

        <div class="staffTableCont">
            <table class="staffTable">
                {% for person in allData%}
                <tr>
                    <td><img class="PFP" src="{% static 'staff/images/PFP.png' %}"></td>
                    <td>{{person.name}}</td>
                    <td>{{person.surname}}</td>
                    <td>{{person.email}}</td>
                    <td class="EditTD"><a href="#"><img class="Edit" src="{% static 'staff/images/Edit.png' %}"></a></td>
                    <td class="SeeTD"><a href="SomehowLinkTheUserToSeeHisData"><img class="See" src="{% static 'staff/images/See.png' %}"></a></td>
                </tr>
                {% endfor %}
            </table>
            {% endblock %}
        </div>
</div>
</div>