{% extends 'base_authentication.html' %}
{% load static %}
{% block authentication %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/login.css' %}">
    <title>Login</title>
</head>
<div class="InputContainer">
    <div class="d-flex justify-content-center">

        <form method="post">
            {% csrf_token %}
{#            {{ form.as_p }}#}
            <div class="ButtonsCont">
                <button type="submit" class="btn btn-login btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}