body{
    display: flex;
    justify-content: center;
    margin:0;
    padding: 0;
}

.InputContainer{
    background-color: rgb(220,220,220);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 600px;
    flex-direction: column;
    font-size: xx-large;
}

.InputContainer label{
    color: black
}

.InputContainer input, input:-webkit-autofill{
    width: 100%;
    height: 25px;
    background-color: dimgray;
    color: white;
    font-size:large;
    border-radius: 10px;
}

input[type="text" i] {
    width: 100%;
    height: 25px;
    background-color: dimgray;
    color: white;
    font-size:large;
    border-radius: 10px;
}

.InputContainer ul{
    width: 70%;
    height: auto;
    font-size: small;
}

.InputBox{
    padding: 50px;
    width: 40%;
    height: 400px;
    /*background-color: red;*/
}

.ButtonsCont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*background-color: violet;*/
}

.ButtonsCont button{
    width: 150px;
    height: 30px;
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: 0.1s;
    font-size: medium;
    border: none;
}

.ButtonsCont button:hover{
    width: 150px;
    height: 30px;
    background-color: white;
    color: black;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
}