{% extends 'base.html' %}
{% load static %}
    {% block content%}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'mainPage/style.css' %}">
</head>
    <div class="Box">
        <img class="picture" src="{% static 'mainPage/images/pic.jpg' %}" alt="pic1">
        <div class="picture-text">
            <h3>Very long title sho kapec</h3>
            <p>Description</p>
        </div>
    </div>
    <div class="Box">
        <img class="picture" src="{% static 'mainPage/images/pic.jpg' %}" alt="pic1">
        <div class="picture-text">
            <h3>Very long title sho kapec</h3>
            <p>Description</p>
        </div>
    </div>
    <div class="Box">
        <img class="picture" src="{% static 'mainPage/images/pic.jpg' %}" alt="pic1">
        <div class="picture-text">
            <h3>Very long title sho kapec</h3>
            <p>Description</p>
        </div>
    </div>
    <div class="Box">
        <img class="picture" src="{% static 'mainPage/images/pic.jpg' %}" alt="pic1">
        <div class="picture-text">
            <h3>Very long title sho kapec</h3>
            <p>Description</p>
        </div>
    </div>
    <div class="Box">
        <img class="picture" src="{% static 'mainPage/images/pic.jpg' %}" alt="pic1">
        <div class="picture-text">
            <h3>Very long title sho kapec</h3>
            <p>Description</p>
        </div>
    </div>
    <div class="Box">
        <img class="picture" src="{% static 'mainPage/images/pic.jpg' %}" alt="pic1">
        <div class="picture-text">
            <h3>Very long title sho kapec</h3>
            <p>Description</p>
        </div>
    </div>
    <div class="Box">
        <img class="picture" src="{% static 'mainPage/images/pic.jpg' %}" alt="pic1">
        <div class="picture-text">
            <h3>Very long title sho kapec</h3>
            <p>Description</p>
        </div>
    </div>
    <div class="Box">
        <img class="picture" src="{% static 'mainPage/images/pic.jpg' %}" alt="pic1">
        <div class="picture-text">
            <h3>Very long title sho kapec</h3>
            <p>Description</p>
        </div>
    </div>





    <div id="Pagination">
        <a href="#">&laquo;</a>
        <a href="#">&raquo;</a>
    </div>

{% endblock %}